################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SuitSupply.CodingTest.ProductCatalog/.vs
