<!-- Log4net configuraiton starts -->
<log4net>
	<root>
		<level value="ALL"></level>
		<appender-ref ref="AdoNetAppender"></appender-ref>
		<appender-ref ref="RollingLogFileAppender"></appender-ref>
		<appender-ref ref="EventLogAppender"></appender-ref>
	</root>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs/WebUI_.log" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<maximumFileSize value="1GB" />
		<preserveLogFileNameExtension value="true" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value=" %date{dd.MM.yy HH:mm:ss} =&gt; ProductWebUI - %level -&gt; %message%newline" />
		</layout>
	</appender>
	<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
		<applicationName value="ProductCatalog.WebUI" />
		<threshold value="ERROR" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="-&gt; %date{dd.MM.yy HH:mm:ss} =&gt; ProductWebUI - %level -&gt; %message%newline" />
		</layout>
	</appender>
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionStringName value="data source=.\LOCALDB;initial catalog=Logs;persist security info=True; Integrated Security=SSPI;" />
		<commandText value="INSERT INTO Logs ([Date],[Thread],[Level],[Logger], [Identity], [Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @identity, @message, @exception)" />
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@identity" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%identity" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
	</appender>
</log4net>
<!-- Log4net configuraiton end -->