<!-- Log4net configuraiton starts -->
<log4net>
	<root>
		<level value="ALL"></level>
		<appender-ref ref="RollingLogFileAppender"></appender-ref>
		<appender-ref ref="EventLogAppender"></appender-ref>
	</root>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs/WebApi_.log" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<maximumFileSize value="1GB" />
		<preserveLogFileNameExtension value="true" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value=" %date{dd.MM.yy HH:mm:ss} =&gt; ProductWebApi - %level -&gt; %message%newline" />
		</layout>
	</appender>
	<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
		<applicationName value="ProductCatalog.WebApi" />
		<threshold value="ERROR" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="-&gt; %date{dd.MM.yy HH:mm:ss} =&gt; ProductWebApi - %level -&gt; %message%newline" />
		</layout>
	</appender>
</log4net>
<!-- Log4net configuraiton end -->